head{
    background-color: aliceblue;
}
body{
    background-color: aquamarine;

    }
    .record{
        background-color: azure;
        font-family: fantasy;
        font-size: 40px;
        margin: 20px;
        align-items: center;
        justify-content: center;
        display: flex;
        text-align: center;
    }
    .register{
        text-align: center;
        justify-content: center;
        margin: 10px;
        font-family: fantasy;
    }
    .register .send{
        width: 200px;
        height: 35px;
        font-family: sans-serif;
        font-size: 20px;
        background-color: beige;
        text-align: center;
    }
    .home{
        background-color: blueviolet;
        font-family: fantasy;
        height: 35px;
        width: 100px;
    }