<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/home.css') }}">
    </head>
    <body>
        <div class="logo_container">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQGOeW-aMwQjtDc2yv_sim52miSXX79XnpBaQ&s" width="40" height="auto">
        <h1>StudentOverFlow</h1>
        </div>
        <div class="image-container">
            <img src="https://www.samsbenefits.com/static/images/cadenas/P7360.jpg">
            <div class="buttons-container">
                <div class="buttons">
                    <button class="button1" onclick="window.location.href='/register'; ">Registrarse</button>
                    <button class="button2" onclick="window.location.href='/signin'; ">Iniciar Sesión</button>
                    <button class="button1" onclick="window.location.href='/prueba'; ">Preguntas</button>
                </div>
            </div>
        </div>
        <br>
        <br>
    </body>
</html>